<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>로그인</h1>

    <form action="{% url 'user:login' %}" method="post">
        {% csrf_token %}
        ID: <input type="text" name="id"><br>
        PW: <input type="password" name="pw"><br>
        <input type="submit" value="로그인">
    </form>
    <div style="color: red;">{{ err_msg }}</div>
</body>
</html>