<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>웹 개발 관련 배경 지식</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>웹 개발 관련 배경 지식</h1>

    <hr>

    <h2>웹 프레임워크(Web Framework)</h2>
    <p>웹 사이트를 만들기 위해 다양한 도구를 제공하는 프로그램.</p>
    <p>특정 프로그램 언어(파이썬, 자바 등)를 기반으로 작성됨.</p>

    <h2>웹 사이트(Web Site)</h2>
    <p>웹 상의 공간. 어떤 서비스를 이용하거나 다른 이용자와 소통하기 위한 공간.</p>

    <h2>웹 애플리케이션(Web Application)</h2>
    <p>웹 사이트 중에서도 특정 기능(지도, 예약, 쇼핑 등)을 가진 웹 사이트를 일컫는 표현.</p>
    <p>현대의 웹 사이트는 애플리케이션(=응용 프로그램)의 성질을 가지기 때문에 웹 애플리케이션이라고 부름.</p>

    <hr>

    <h2>가상환경(Virtual Environment)</h2>
    <p>한 컴퓨터에서 여러 개의 개발 환경을 설정하는 것.</p>
    <p>서로 다른 개발 환경을 세팅함으로써 필요 상황에 따라 다른 환경을 이용할 수 있음.</p>
    <p>
        특히 파이썬은 수 많은 라이브러리(=모듈)를 지원하는 장점이 있지만
        한 공간에 모든 라이브러리를 설치하면
        파이썬 실행 시 사용하지 않는 라이브러리까지 모두 불러와서 속도가 느려지고
        라이브러리 관리도 힘들어지기 때문에
        사용하는 라이브러리만 불러올 수 있도록 공간을 분리해서 실행하는 기능을 지원함.
    </p>
    <p>파이썬의 경우, venv 모듈을 통해 파이썬 설치 시 기본적으로 제공함.</p>

    <hr>

    <h2>LTS(Long Term Support)</h2>
    <p>프로그램의 버전 중에서 장기 지원 버전을 의미하는 단어.</p>
    <p>
        일정 규모 이상의 큰 프로그램의 경우, 오래된 프로그램을 유지보수할 수 없기 때문에
        일정 간격으로 장기 지원 버전의 프로그램을 출시함.
    </p>
    <p>프로그램 지원 기간이 끝난 후 문제가 발생 시 개발자 본인의 책임을 의미.</p>
    <p>되도록 LTS 버전의 프로그램 사용을 권장.</p>
    <p>장고의 경우, x.2 버전이 LTS 버전이며 최신 버전은 4.1.1 버전.</p>
</body>
</html>
