<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>게시판</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>게시판</h1>

    {# 주석 #}
    {# {{ board_list }} #}

    <table border="1" style="border-collapse: collapse;">
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
        </thead>
        <tbody>
            {% for board in board_list %}
            <tr>
                <td>{{ board.num }}</td>
                <td>
                    <a href="/board/{{ board.num }}/">
                        {{ board.title }}
                        {% if board.reply_set.count %}
                        [ {{ board.reply_set.count }} ]
                        {% endif %}
                    </a>
                </td>
                <!-- <td><a href="/board/detail/?board_num={{ board.num }}">{{ board.title }}</a></td> -->
                <td>{{ board.writer }}</td>
                <td>{{ board.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>