/* h1 {color: red;} */

table {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    text-align: center;
}

th.id-col {width: 50px;}
th.text-col {width: 300px;}
th.date-col {width: 150px;}

tr:hover {background-color: lightgray;}

img.bg {
    opacity: 0.5;
    width: 50%;
    height: 50%;
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: -1;
}