<script>

	//복사 방지 시스템
	//1. Ctrl + C 방지
	window.addEventListener("copy", (e) => {
  		e.preventDefault(); // 클립보드 이벤트를 활용을 위한 preventDefault 함수를 호출
  		e.clipboardData.setData("Text", "");
		alert('복사 방지 시스템이 작동 중입니다.');
	});
	//2. 마우스 오른쪽 메뉴 방지
	window.oncontextmenu = function() {
		alert('복사 방지를 위해 마우스 우클릭이 금지되어 있습니다.');
		return false;
	}

	function drsearch() { //검색창에서 Enter를 눌렀을 때 실행하는 함수
		if (window.event.keyCode == 13) {
    		search();
    	}
		return false;
	}

    function search() { //검색어 입력 후 이동하는 기능 구현
        let input_word = document.getElementById("s_input").value; // 입력된 값을 문자열로 변환
		let pro_chr = [' ', '!', '@', '#', '$', '%', '^', '&', '*', '+', '-', '=', ':', ";", "/", "`", "~"];
		for (let i = 0; i < pro_chr.length; i++) {
			input_word = input_word.replaceAll(pro_chr[i], ''); // 특수 문자 검색 차단 (엉뚱한 결과가 나오는 것 방지)
		}
		// || input_word == " " || input_word.replaceAll(" ", "") == ""
		if (input_word == "" || input_word == " " || input_word.replaceAll(" ", "") == "") { //검색어가 없거나 공백이거나 공백만 있을 경우
            alert('올바른 검색어를 입력해 주세요.\r\n공백 혹은 일부 특수문자는 사용이 불가능합니다.'); // \r\n 줄바꿈 시퀀스 사용
            return false;
        }
		// href로 했더니 안되서 assign 사용하여 이동
		// ?page=1&searchType=&searchWord=  <-- 이 부분은 불가피한 하드 코딩임
		window.location.assign("{% url 'board:free' %}?page=1&searchType=&searchWord=" + input_word); //보드 게시판 검색 기능으로 이동
    }

</script>

<style>
	/* 요소 선택 방지 기능 */
	* {
		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		user-select:none;
	}
</style>

    <!-- 상단바 -->
		<nav class="navbar navbar-default navbar-fixed-top" style="height: 50px;">
			<div class="navbar-btn" style="padding: 0px 15px 0px 15px;">
				<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-menu"></i></button> <!-- 왼쪽 메뉴바 숨김/활성 -->
			</div>
			<div class="brand" style="height:50px; padding: 11px 15px 11px 15px;">
				<a style="font-size:20px;">전기자동차</a> <!-- 상단 메뉴바 타이틀 -->
			</div>
			<div class="container-fluid">
				<!-- 로그인과 같이 보안이 중요한 경우에는 POST를 사용해야 하나 단순 검색과 같은 기능 구현시에는 GET을 사용해도 괜찮음 
				(새로고침 시 데이터 재전송 창 안 뜨게끔)-->
				<!-- 검색창 (입력 상자)-->
				<!-- onsubmit="retun false;"는 불필요한 리다이렉트 제거를 위해 사용함 
				button 속성이 있을 때 onsubmit 속성이 기본적으로 true가 되어 리다이렉트 된다. 이를 막기 위해 form에 onsubmit="return false;" 를 해준다.-->
				<form method="get" action="" class="navbar-form navbar-right" style="padding: 0px 35px 0px 15px;" onsubmit="return false;">
                    {% csrf_token %}
					<div class="input-group"> <!-- 입력 상자 -->

						<!-- id 값은 getElementById 로 javascipt에 사용됨-->
						<!-- name 값은 백엔드 (Django) 처리에 사용됨 -->

						<!--검색어 입력 후 엔터 시에도 검색 되게끔 수정-->
						<input type="text" value="" name="s_keyword" id="s_input" class="form-control" placeholder="검색할 게시판의 내용 검색" onkeypress="drsearch()">
						<!--검색기능 onclick 이벤트 구현-->
						<span class="input-group-btn"><button type="button" class="btn btn-primary" value=""  name="key_button" id="s_button" onclick="search();">검색</button></span>
					</div>
				</form>
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right" style="margin-top: 0px; margin-bottom: 0px;">
						<li class="dropdown">
							<!-- 로그인 기능 + 로그인 관련 메뉴바 -->
							<a href="" class="dropdown-toggle" data-toggle="dropdown" style="padding: 12px 50px 12px 15px;"><span>
							{% if request.session.user != null %}
								{{ request.session.user }}님 환영합니다.
							{% else %}
								로그인해주세요.
							{% endif %}
							</span>
							<i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								{% if request.session.user != null %}
									<li><a href="{% url 'accounts:logout' %}"><i class="lnr lnr-exit"></i> <span>로그아웃</span></a></li> <!-- 조건에 따리서 로그인 로그아웃 바뀌게 변경 -->
								{% else %}
									<li><a href="{% url 'accounts:login' %}"><i class="lnr lnr-lock"></i> <span>로그인</span></a></li> <!-- 로그인 아닐시 목록에서 안보이게 함 -->
									<li><a href="{% url 'accounts:register' %}"><i class="lnr lnr-users"></i> <span>회원가입</span></a></li> <!-- 조건에 따리서 로그인 로그아웃 바뀌게 변경 -->
								{% endif %}
							</ul>
						</li>
						<li class="dropdown">
							<!-- 상단바 메뉴 기능 -->
							<a href="" class="dropdown-toggle" data-toggle="dropdown" style="padding: 12px 50px 12px 15px;"><span>메뉴</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu" style="left:0; right:0">
								<li><a href="{% url 'main:index' %}">홈</a></li>
								<li><a href="{% url 'board:notice' %}">공지사항</a></li>
								<li><a href="{% url 'board:free' %}">자유게시판</a></li>
								<li><a href="{% url 'datapg:datapage' %}">전기자동차 현황</a></li>
								<!-- <li><a href="">전기차4</a></li> -->
							</ul>
						</li>
						<!-- <li>
							<a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
						</li> -->
					</ul>
				</div>
			</div>
		</nav>
		<!-- 상단바 끝 -->
		<!-- 좌측 메뉴바 -->
		<div id="sidebar-nav" class="sidebar" style="padding-top: 10px;">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav"> <!-- 기본메뉴 -->
						<li><a href="{% url 'main:index' %}" class="active"><i class="lnr lnr-home"></i> <span>홈</span></a></li>

						<li>
							<!-- 서브메뉴 -->
							<a href="#subPages" data-toggle="collapse" class="active"><i class="lnr lnr-file-empty"></i><span>회원관리</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages" class="collapse"> 
								<ul class="nav" style = "margin : 0px;">
									{% if request.session.user != null %}
										<li><a href="{% url 'accounts:logout' %}" class=""><i class="lnr lnr-exit"></i> <span>로그아웃</span></a></li> <!-- 조건에 따리서 로그인 로그아웃 바뀌게 변경 -->
									{% else %}
										<li><a href="{% url 'accounts:login' %}" class=""><i class="lnr lnr-lock"></i> <span>로그인</span></a></li> <!-- 조건에 따리서 로그인 로그아웃 바뀌게 변경 -->
										<li><a href="{% url 'accounts:register' %}" class=""><i class="lnr lnr-users"></i> <span>회원가입</span></a></li> <!-- 조건에 따리서 로그인 로그아웃 바뀌게 변경 -->										
									{% endif %}
								</ul>
							</div>
						</li>
						<li><a href="{% url 'board:notice' %}" class="active"><i class="lnr lnr-alarm"></i> <span>공지사항</span></a></li>
						<li><a href="{% url 'board:free' %}" class="active"><i class="lnr lnr-inbox"></i> <span>자유게시판</span></a></li>
						<li><a href="{% url 'datapg:datapage' %}" class="active"><i class="lnr lnr-chart-bars"></i> <span>전기자동차 현황</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- 좌측 메뉴바 끝 -->