{% extends 'common/base.html' %}

{% block title %}{{ board.title }}{% endblock title %}

{% block body %}
<!-- 게시글 상세 -->
<table class="table table-bordered mb-0">
    <thead>
        <tr class="table-dark text-center">
            <th class="col-1">{{board.id}}</th>
            <th class="cor-5">{{board.title}}</th>
            <th class="col-2">{{board.writer}}</th>
            <th class="col-3">{{board.date}}</th>
            <th class="col-1">{{board.count}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="5"
            class="text-start align-top"
            style="height: 240px; white-space:pre-wrap;">{{ board.content }}</td>
        </tr>
    </tbody>
</table>

<!-- 댓글 목록 -->
{{% if board.reply_set.all %}}
<table class="table table-bordered table-striped table-hover mb-0">
    <tbody>
        {% for reply in board.reply_set.all %}
        <tr>
            <td class="col-7 text-start">
                {{ reply.content }}
                {% if reply.writer.username == request.user.username %}
                <a href="javascript:void(0);" class="btn btn-warning btn-sm">수정</a>
                <a href="javascript:void(0);" class="btn btn-danger btn-sm">삭제</a>
                {% endif %}
            </td>
            <td class="col-2 text-center">{{ reply.writer }}</td>
            <td class="col-3 text-center">{{ reply.date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<!-- 댓글 작성 양식 -->
<form action="{% url 'board:reply_create' board.id %}" method="post">
    {% csrf_token %}
    <table class="table">
        <tbody>
            <tr>
                <td class="col-11">
                    <textarea name="content" class="form-control" style="resize:none;"></textarea>
                </td>
                <td class="col-1 align-middle">
                    <input type="submit" value="완료" class="btn btn-primary btn-lg">
                </td>
            </tr>
        </tbody>
    </table>
</form>

<!-- 기타 조작 버튼 -->
<div class="row mb-3">
    <div class="col-6">
        {% if board.writer.username == request.user.username %}
        <a href="javascript:void(0);" class="btn btn-warning btn-lg">글 수정</a>
        <a href="javascript:void(0);" class="btn btn-danger btn-lg">글 삭제</a>
        {% endif %}
    </div>
    <div class="col-6 text-end">
        <a href="{% url 'board:list' %}" class="btn btn-info btn-lg">목록</a>
    </div>
</div>

{% endblock body %}