legend{
    font-weight: bold;
}


table {
    border-collapse: collapse;
    width: 500px;
}

input[type=text], input[type=password] {
    width: 300px;
    border: 0px solid white;
}

.err{
    background-color: orangered;
}

button[type=submit] {
    width: 80px;
    height: 40px;
    color: blue;
    background-color: yellow;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
}