<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>시험 목록</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>시험 목록</h1>

    <table border="1" style="border-collapse: collapse; text-align: center;">
        <thead>
            <tr>
                <th style="width: 100px;">제목</th>
                <th style="width: 100px;">과목</th>
                <th style="width: 300px;">날짜</th>
            </tr>
        </thead>
        <tbody>
            {% for exam in exam_list %}
            <tr>
                <td><a href="/school/exam/detail/?exam_id={{ exam.id }}">{{ exam.title }}</a></td>
                <td>{{ exam.subject }}</td>
                <td>{{ exam.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/">홈으로</a>
</body>
</html>