<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>요약</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>템플릿(Template)</h1>
    <p>
        기본적으로 HTML 파일을 말하는데,
        여기에 장고에서 지원하는 템플릿 엔진을 탑재해서 템플릿이라고 부른다.
        템플릿 엔진을 탑재하여 템플릿 언어를 사용할 수 있고,
        이를 통해 정적인 웹 문서를 좀 더 복잡하고 다양하게 작성할 수 있다.
    </p>
    <p>
        템플릿 파일은 일반적으로 [앱 폴더]/templates/[앱 폴더]/[파일명].html 형태로 작성한다.
    </p>

    <h2>장고 템플릿 언어(Django Template Language, DTL)</h2>
    <p>
        템플릿에서 사용할 수 있는 문법.
        변수를 표현하거나 조작하거나 제어문을 사용하는 등 다양한 기능을 지원한다. 
    </p>
    
    {# 주석 #}
    {# {{ 변수 이름 }} 형태로 뷰에서 템플릿으로 전달한 변수의 값을 출력할 수 있다. #}
    {# 지정한 이름과 일치하는 변수가 없으면 아무 것도 출력하지 않는다. #}
    {# 정수, 실수, 문자열, 논리형, 컬렉션, 객체 등 모두 출력 가능. #}
    {# 컬렉션, 객체의 경우 . 기호를 통해 속성을 출력할 수 있다. #}
    {# 인덱스, 키. 메소드 모두 . 기호와 값만 작성해야 한다. #}
    a: {{ a }}<br>
    b: {{ b }}<br>
    c: {{ c }}<br>
    num_list: {{ num_list }}<br>
    num_list.0: {{ num_list.0 }}<br>
    num_list.1: {{ num_list.1 }}<br>
    num_list.2: {{ num_list.2 }}<br>
    num_list.3: {{ num_list.3 }}<br>
    
    student: {{ student }}<br>
    student.name: {{ student.name }}<br>
    student.age: {{ student.age }}<br>
    student.major: {{ student.major }}<br>
    student.address: {{ student.address }}<br>
    
    board: {{ board }}<br>
    board.title: {{ board.title }}<br>
    board.writer: {{ board.writer }}<br>
    board.hello: {{ board.hello }}<br>
    board.getInfo: {{ board.getInfo }}<br>

    <hr>

    {% comment %}
    
    {% 태그명 %} 형태로 템플릿 태그를 사용할 수 있다.
    if, for, url, include, block, extend 등의 태그를 지원한다.
    
    {% if 조건식1 %}
    조건식1이 True일 경우 표현할 내용
    {% endif 조건식2 %}
    조건식2가 True일 경우 표현할 내용
    {% else %}
    모든 조건식이 False일 경우 표현할 내용
    {% endif %}

    {{% for 변수명 in 이터러블 %}}
    반복할 내용
    {% endfor %}
    
    {% endcomment %}

    {% if a == 10 %}
    <span>a는 10입니다.</span>
    {% endif %}

    {% if b > 10 %}
    <div>b는 10보다 큽니다.</div>
    {% endif %}

    {% if a != 0 and b < 100 %}
    <div>a는 0이 아니면서 b는 100보다 작습니다.</div>
    {% endif %}

    {% if a == 9|add:1 %}
    <!-- 비교, 논리 연산은 지원하지만 산술 연산은 지원하지 않고 대신 템플릿 필터를 사용해야 함.  -->
    <div>a는 9 + 1 입니다.</div>
    {% endif %}

    {# 반복문에서 선언한 변수를 반복문 안에서 {{ 변수명 }} 형태로 사용 #}
    {% for i in num_list %}
    <span>{{ i }}</span>
    {% endfor %}<br>

    {# url 태그 개요 #}
    {# 실제 웹 사이트 개발 시 URL 패턴을 변경하는 경우가 빈번하다.#}
    {# 이 떄, 템플릿 파일, URL 구성 파일 등 여러 곳을 수정해야 하는 번거로움을 덜기 위해,#}
    {# 'URL 패턴 이름'을 부여해서 반복 작업을 덜 수 있도록 처리할 수 있다. #}
    
    {# url 태그 사용 방법 #}
    {# 1. URL 구성 파일에서 path() 함수에 name 키워드 인수로 URL 패턴 이름을 부여하고, #}
    {# 2. 템플릿 파일에서 URL 작성 위치에 url 태그로 URL 패턴 이름을 연결한다.#}
    {# 이후, URL 패턴을 수정해야 할 떄는 URL 구성 파일만 수정하면 된다.#}
    
    {# url 태그 사용 목적 #}
    {# 특히, URL 패턴은 사용자에게 노출되므로 사용자 친화적으로 작성해야 하지만, #}
    {# URL 패턴 이름은 사용자에게 노출되지 않으므로 개발자 편의에 맞춰 작성할 수 있다. #}
    
    {# url 태그를 통해 변수 전달하기 #}
    {# url 태그에 URL 패턴 이름 뒤에 변수를 추가해서 전달할 수 있고, #} 
    {# 이 변수는 URL의 일부분으로  구성되어야 한다. #}
    {# 혹은 form 태그를 사용하면 HttpRequest 객체를 통해 전달할 수도 있다. #}

    {# url 태그 응용#}
    {# URL 구성 파일에 앱 이름 또한 정의해서, 앱 이름과 URL 패턴 이름을 조합해서 사용하는 걸 권장한다.#}
    
    {% comment %}
    {# 앱 이름을 사용하지 않고 URL 패턴 이름만 사용한 코드 #}
    <a href="{% url 'board_list' %}">게시판으로 이동</a>
    <a href="{% url 'board_detail' board_num=1 %}">1번 게시글 상세 페이지로 이동</a>
    <!-- <a href="{% url 'board_update' board_num=2 %}">2번 게시글 수정 페이지로 이동</a> -->
    {# <a href="{% url 'board_update' board_num=2 %}">2번 게시글 수정 페이지로 이동</a> #}
    <form action="{% url 'board_update' %}">
        <input type="hidden" name="board_num" value="2">
        <input type="submit" value="2번 게시글 수정 페이지로 이동">
    </form>
    {% endcomment %}
    
    {# 앱 이름을 사용한 코드 #}
    <a href="{% url 'board_list' %}">게시판으로 이동</a>
    <a href="{% url 'board_detail' board_num=1 %}">1번 게시글 상세 페이지로 이동</a>
    <!-- <a href="{% url 'board_update' board_num=2 %}">2번 게시글 수정 페이지로 이동</a> -->
    {# <a href="{% url 'board_update' board_num=2 %}">2번 게시글 수정 페이지로 이동</a> #}
    <form action="{% url 'board_update' %}">
        <input type="hidden" name="board_num" value="2">
        <input type="submit" value="2번 게시글 수정 페이지로 이동">
    </form>
    
    <hr>
    
    {# 템플릿 필터 #}

    a|add:1 => {{ a|add:1 }}<br>
    a|add:-1 => {{ a|add:-1 }}<br>
    a|add:3.14 => {{ a|add:3.14 }}<br>
    10|add:20|add:30 => {{ 10|add:20|add:30 }}<br>

    {# length 필터: 문자열, 이터러블 등의 객체에 대해서 요소의 개수를 구하는 필터. #}
    num_list|length => {{ num_list|length }}<br>

    {# default 필터: 값이 False인 경우 설정된 값으로 대체해서 표현. #}
    True|default:10 => {{ True|default:10 }}<br>
    False|default:10 => {{ False|default:10 }}<br>
    0|default:'...' => {{ 0|default: '데이터가 존재하지 않습니다' }}<br>

    {# default_if_none 필터: 값이 None인 경우 설정된 값으로 대체해서 표현. #}
    0|default_if_none:'...' => {{0|default_if_none:'데이터가 없습니다.' }}<br>
    None|default_if_none:'...'=> {{ None|default_if_none:'데이터가 없습니다.' }}<br>
    {{ c|default_if_none: 'c는 존재하지 않습니다!'}}<br>

    {# join 필터: 이터러블을 주어진 문자열과 함께 엮을 때 사용하는 필터. #}
    num_list|join: '||' => {{num_list|join:'||'}}<br>
    {# cut 필터: 주어진 문자열을 제거할 떄 사용하는 필터.#}
    num_list|join: '||'|cut:'|' => {{num_list|join: '||'|cut:'|'}}<br>
    {# truncatechars 필터: 주어진 문자열을 특정 글자 수만큼 잘라낼 때 사용하는 필터. #}
    student.major|truncatechars:3 => {{ student.major|truncatechars:4 }}<br>

    {# ljust, rjust, center 필터: 좌측, 우측, 가운데 정렬하는 필터. #}
    <pre>
    {{ student.name|ljust:10 }}
    {{ student.name|rjust:10 }}
    {{ student.name|center:10 }}
    </pre>
    
    {# date 필터: 날짜-시간 데이터를 원하는 형식으로 출력할 때 사용하는 필터. #}
    {{ today }}<br>
    {{ today|date: 'Y-m-d' }}<br>
    {{ today|date: 'H:i:s' }}<br>
    
    <hr>

    <a href="/">홈으로</a>
</body>
</html>