<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>데이터베이스 연동 설정</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>데이터베이스 연동 설정</h1>
    <p>settings.py 파일에서 데이터베이스 연결 설정을 작성할 수 있다.</p>

    <h2>주요 옵션</h2>
    <div>
        DATABASES: 이 프로젝트에서 사용할 데이터베이스에 대한 설정.
        하나의 프로젝트에 여러 개의 데이터베이스를 설정할 수도 있다.
        ENGINE, NAME, USER, PASSWORD, HOST, PORT 등을 추가로 작성한다.
    </div>
    <div>LANGUAGE_CODE: 언어 코드.</div>
    <div>TIME_ZONE: 시간대.</div>
    <div>USE_I18N: 언어 코드 사용 여부.</div>
    <div>USE_TZ: 시간대 적용 여부.</div>

    <p>
        데이터베이스를 연동하기 전,
        접속 정보 및 언어, 시간대 설정을 권장한다.
    </p>

    <hr>

    <a href="/">뒤로</a>
</body>
</html>