<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>새글 쓰기</h1>
    <form action="board/write/" method="post">
        {% csrf_token %}
        제목: <input type="text" name="title"><br>
        작성자: <input type="text" name="writer"><br>
        내용: <textarea name="content"></textarea><br>
        <input type="submit" value="완료">
    </form>
    
    <a href="board/list/">게시글 목록</a>
</body>
</html>