<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>장고 개요</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>장고 개요</h1>

    <p>파이썬 웹 프레임워크 중 하나.</p>
    <p>웹 사이트, 특히 백엔드를 만들 때 유용한 기능을 제공.</p>

    <h2>장고의 장점</h2>
    <ul>
        <li>경량 웹 프레임워크로써 속도가 빠르고 성능이 좋은 편.</li>
        <li>보안, 쿠키, 세션 등 웹사이트 주요 필수 기능을 기본적으로 제공.</li>
        <li>개발용 서버, ORM 방식의 데이터베이스 연결 등 백엔드 개발에만 집중할 수 있도록 설계됨.</li>
    </ul>

    <h2>기본 프로그래밍 언어와 관련 웹 프레임워크 목록</h2>
    <table border="1">
        <tr>
            <th>파이썬</th>
            <td>장고, 플라스크, FAST API, ...</td>
        </tr>
        <tr>
            <th>자바</th>
            <td>스프링, 스프링부트, 전자정부프레임워크</td>
        </tr>
        <tr>
            <th>C 계열</th>
            <td>.NET, ASP.NET</td>
        </tr>
    </table>

    <a href="/">HOME</a>
</body>
</html>