{% extends 'common/base2.html' %}   
{% load static %}
{% load sub %}

{% block title %}
자유게시판             
{% endblock title %}

<div class="container mt-3">
{% block body %}
<h1>자유게시판</h1>
<hr>
	{% if board_list %}
	<table class="table table-hover text-center">
		<thead class="table">
			<tr >
				<th class="col-1" style="text-align:center;">번호</th>
				<th class="col-4" style="text-align:center;">제목</th>
				<th class="col-3" style="text-align:center;">작성자</th>
				<th class="col-3" style="text-align:center;">작성일</th>
				<th class="col-1" style="text-align:center;">조회수</th>
			</tr>
		</thead>
		<tbody>
		{% for board in board_list %}
		<tr>
			{% if board.writer_id == 2 %}
				
			{% endif %}
		</tr>
		{% endfor %}

		{% for board in board_list %}
		<tr>
			{% if board.writer_id != 2 %}
			<td>{{ board.id }}</td>
			<td>
				<a href="{% url 'board:detail' pk=board.id %}">{{ board.title }}</a>
				{% if board.reply_set.all %}
					<span class="text-danger">[{{ board.reply_set.count }}]</span>
				{% endif %}
			</td>
			<td>{{ board.writer }}</td>
			<td>{{ board.date }}</td>
			<td>{{ board.count }}</td>
		{% endif %}
	</tr>
	{% endfor %}
	</tbody>

	</table>
	{% else %}
	<div class="h3 text-danger">작성된 게시글이 없습니다.</div>
	{% endif %}
	<div class="row">
		<div>
			<a href="{% url 'board:create' %}" class="btn btn-primary" style="margin: 20px 40px;" >글 쓰기</a>
		</div>
		<div style="text-align: right;">
			<form id="searchForm" style="margin-right: 100px;">
				<div class="input-group" style="display:inline-flex;">
					<input type="hidden" id="page" name="page" value="1">
					<select name="searchType" class="form-select">
						<option value="">전체</option>
						{% if searchType == 'title' %}
						<option value="title" selected="selected">제목</option>
						{% else %}
						<option value="title">제목</option>
						{% endif %}
						
						{% if searchType == 'content' %}
						<option value="content" selected="selected">내용</option>
						{% else %}
						<option value="content">내용</option>
						{% endif %}
						
						{% if searchType == 'writer' %}
						<option value="writer" selected="selected">작성자</option>
						{% else %}
						<option value="writer">작성자</option>
						{% endif %}    
					</select>
					<input type="text" name="searchWord" placeholder="검색어를 입력하세요" class="form-control" value="{{ searchWord|default_if_none:''}}">
					<span class="input-group-btn" style="vertical-align: bottom !important;"> <input type="submit" class="btn btn-primary" value="검색"></span>
				</div>
			</form>
		</div>
	</div>
	
	<!-- 페이징 -->
	<div style="text-align: center;">
		<ul class="pagination justify-content-center">
			{% for page_number in page_obj.paginator.page_range %}	
			{% if page_number >= page_obj.number|add:-5 and page_number <= page_obj.number|add:5 %}
			{% if page_number == page_obj.number %}
			<li class='page-item active'>
				<a href="javascript:void(0);" class="page-link" data-page="{{ page_number }}">{{ page_number }}</a>
			</li>
			{% else %}
			<li class="page-item">
				<a href="javascript:void(0);" class="page-link" data-page="{{ page_number }}">{{ page_number }}</a>
			</li>	
			{% endif %}
			{% endif %}
			{% endfor %}
		</ul>
	</div>
	<script src="{% static 'scripts/free_board.js' %}"></script>
	</div>


		{% endblock body %}


	