<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>프로젝트 및 앱 생성</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>프로젝트 및 앱 생성</h1>

    <hr>

    <h2>프로젝트 생성</h2>
    <p>장고에서의 프로젝트는 하나의 웹 사이트를 나타낸다.</p>
    <p>프로젝트는 한 개 이상의 앱으로 구성된다.</p>

    <h3>프로젝트 생성 방법</h3>
    <ol>
        <li>
            장고가 설치된 가상환경에서 실행한다.
            <ul>
                <li>(터미널에서)django-admin startproject mysite</li>
                <li>(터미널에서)py -m pip django startproject mysite</li>
            </ul>
        </li>
        <li>
            지정한 폴더 내 프로젝트 이름으로 폴더 및 파일이 생성된다.
        </li>
    </ol>

    <h3>장고 프로젝트 구성 파일</h3>
    <ul>
        <li>
            mysite: 프로젝트 폴더.
            <ul>
                <li>
                    manage.py: 관리 작업을 위한 명령 줄 유틸리티.
                    터미널에서 장고 프로젝트를 관리하기 위해 다양한 명령어를 실행하는 파이썬 스크립트 파일.
                </li>
                <li>
                    mysite: 프로젝트 핵심 설정 폴더.
                    <ul>
                        <li>__init__.py: 파이썬 패키지임을 나타내는 파일.</li>
                        <li>asgi.py: ASGI 애플리케이션을 통해 서버를 실행할 때 사용하는 설정 파일.</li>
                        <li>settings.py: 프로젝트 핵심 설정 파일. manage.py 등의 파일에서 불려져서 사용됨.</li>
                        <li>urls.py: 최상위 URL 구성 파일(root URL configuration file). URL 패턴을 기록함.</li>
                        <li>
                            wsgi.py: WSGI 애플리케이션을 통해 서버를 실행할 때 사용하는 설정 파일.
                            장고 개발 서버 구동 시 기본적으로 실행되는 파일.
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

    <h3>서버 구동 방법</h3>
    <p>장고 프로젝트는 자체적으로 개발용 내장 서버를 지원한다.</p>
    <ol>
        <li>
            장고가 설치된 가상환경에서, manage.py 파일이 있는
            프로젝트 폴더를 선택한 상황에서 명령어를 실행한다.
            <ul>
                <li>(터미널에서)py manage.py runserver</li>
                <li>(터미널에서)py manage.py runserver 8001</li>
                <li>(터미널에서)py manage.py runserver 127.0.0.1:8001</li>
            </ul>
        </li>
    </ol>
    <p>기본적으로 8000 포트를 사용해서 프로젝트를 배포하며, 다른 포트를 지정할 수도 있다.</p>
    <p>프로젝트에 변동사항이 생기면 자동으로 인식해서 서버를 재가동한다.</p>
    <p>파일 추가 등의 일부 상황은 수동으로 재가동해야 반영된다.</p>


    <hr>

    <h2>앱 생성</h2>
    <p>
        앱은 특정 주제로 묶인 기능들을 의미한다
        (ex. 사용자 관리 앱, 게시판 앱, 주문 결제 앱 등).
    </p>
    <p>여러 개의 앱이 모여 하나의 프로젝트가 된다.</p>

    <h3>앱 생성 방법</h3>
    <ol>
        <li>
            장고가 설치된 가상환경에서, manage.py 파일이 있는
            프로젝트 폴더를 선택한 상황에서 명령어를 실행한다.
            <ul>
                <li>(터미널에서)py manage.py startapp board</li>
            </ul>
        </li>
    </ol>
    <p>앱은 필요에 따라 얼마든지 추가할 수 있고, 앱 폴더를 삭제해서 앱을 간단하게 제거할 수도 있다.</p>
    <p>settings.py 파일의 INSTALLED_APPS 변수에 앱 설정 클래스를 등록해야 프로젝트에서 해당 앱을 인식할 수 있다.</p>

    <h3>장고 앱 구성 파일</h3>
    <ul>
        <li>
            board: 앱 폴더.
            <ul>
                <li>__init__.py: 파이썬 패키지임을 나타내는 파일.</li>
                <li>admin.py: 관리자 페이지에서 이 앱을 작업할 때 사용하는 설정 파일.</li>
                <li>apps.py: 앱 설정 파일. 자동으로 생성된 앱 설정 클래스가 작성되어 있음.</li>
                <li>models.py: 데이터베이스 연동 시 사용하는 파일.</li>
                <li>tests.py: 자동화 테스트에서 사용하는 파일.</li>
                <li>views.py: 뷰 함수 또는 클래스를 작성하는 파일.</li>
                <li>
                    migrations: 모델 변경 내역을 저장하는 폴더.
                    <ul>
                        <li>__init__.py: 파이썬 패키지임을 나타내는 파일.</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

    <hr>

    <a href="/">뒤로</a>
</body>
</html>