<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>가상환경 설정 및 장고 설치</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>가상환경 설정 및 장고 설치</h1>

    <hr>

    <h2>가상환경 설정</h2>
    <p>
        가상환경(Virtual Environment)은
        한 컴퓨터 내에서 독립적인 공간을 마련해서 개발환경을 설정하는 것을 말한다.
    </p>
    <p>
        파이썬의 경우, 수 많은 라이브러리(=모듈)을 지원하는 장점이 있지만,
        한 환경에 사용하지 않는 라이브러리를 설치하고 파이썬을 실행하면
        모든 라이브러리를 불러오며 성능 상 불이익이 발생하기에 이를 회피하기 위해서,
        또한 많은 수의 라이브러리를 관리하기 용이하게 하기 위해서
        가상환경을 사용하곤 한다.
    </p>
    <p>파이썬은 기본적으로 venv 모듈을 통해 가상환경을 지원한다.</p>
    
    <h3>가상환경 설정 방법</h3>
    <ol>
        <li>
            가상환경을 설치할 경로 지정 및 설치
            <ul>
                <li>(명령 프롬프트에서)cd C:\</li>
                <li>(명령 프롬프트에서)mkdir venvs</li>
                <li>(명령 프롬프트에서)cd venvs</li>
                <li>(명령 프롬프트에서)py -m venv webapp-env</li>
            </ul>
        </li>
        <li>
            가상환경 실행 및 종료
            <ul>
                <li>(명령 프롬프트에서)cd C:\venvs\webapp-env\Scripts</li>
                <li>(명령 프롬프트에서)activate</li>
                <li>(명령 프롬프트에서)deactivate</li>
            </ul>
        </li>
        <li>
            VS Code에서 가상환경 설정 방법
            <ul>
                <li>(VS Code에서)ctrl + shift + P 입력 후 select interpreter 검색</li>
                <li>(VS Code에서)Python: Select Interpreter 선택</li>
                <li>(VS Code에서)+ 인터프리터 경로 입력... 선택</li>
                <li>(VS Code에서)찾기... 선택</li>
                <li>(탐색기 창에서)C:\venvs\webapp-env\Scripts\python.exe 선택</li>
                <li>(VS Code에서)ctrl + ` 입력 후 터미널 창 확인</li>
            </ul>
        </li>
    </ol>

    <hr>
    
    <h2>장고 설치</h2>
    <p>장고는 파이썬 모듈로써 설치한다.</p>
    <p>2022년 9월 26일 기준 4.1.1 버전이 최신 버전이다.</p>
    <p>x.2 버전이 LTS 버전이다. 일반적으로 LTS 버전 사용을 권장한다.</p>

    <h3>장고 설치 방법</h3>
    <ol>
        <li>가상환경을 실행한 후 설치를 진행한다.
            <ul>
                <li>(명령 프롬프트에서)py -m pip install django</li>
                <li>(명령 프롬프트에서)py -m pip install django==3.2.15</li>
            </ul>
        </li>
    </ol>

    <h3>설치된 장고 버전 확인</h3>
    <ol>
        <li>
            <ul>
                <li>(명령 프롬프트에서)py -m pip show django</li>
                <li>(명령 프롬프트에서)py -m django --version</li>
                <li>(파이썬 스크립트에서)import django; print(django.get_version())</li>
            </ul>
        </li>
    </ol>
    
    <hr>

    <a href="/">뒤로</a>
</body>
</html>