<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>설문 변경</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>설문 변경</h1>
    <form action="{% url 'polls:update' question_id=question.id %}" method="post">
        {% csrf_token %}
        내용: <textarea name="text">{{ question.text }}</textarea><br>
        날짜: <input type="date" name="date" value="{{ question.date|date:'Y-m-d' }}"><br>
        <input type="submit" value="변경">
    </form>
</body>
</html>