/* 전체 선택자 */
/*
* {
    color: white;
    background-color: black;
}
*/

/* 요소 선택자 */
h1 {color: red;}
p {color: blue;}

/* ID 선택자 */
#li-1 {color: red;}
#li-2 {color: blue;}

/* 클래스 선택자 */
.odd {background-color: lightgray;}
.even {background-color: gray;}
.list {font-weight: bold; font-style: italic;}

/* 자식 선택자 */
ol>li {color: green; border: 3px dashed orange;} /* ol 태그의 자식 li 태그 두 개 선택 */
/* 후손 선택자 */
ol li {color: green; border: 3px dashed orange;} /* ol 태그의 자식 li 태그 두 개 및 후손 li 태그 두 개 선택 */

/* AND 선택자 */
p.txt {color: red;}

/* OR 선택자 */
pre, .txt {background-color: yellow;}

/* 속성 선택자 */
[type] {background-color: gray;}
[type=password] {color: white;}
input[type=password][name=pw] {background-color: darkblue;}